body{
  padding-top: 50px;
}

body.loginpagebackimage{
      background-color: black;
  	  background-image: url("../images/optima.jpg");
      /*Que ocupe toda la paginat */
      height: 100%;
      /* Posicionamiento de la imagen en la pantalla*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

td{
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* Chrome */
  word-wrap: break-word; /* IE */
}
td.whatever
{
    max-width: 15px;
}

td {
    vertical-align: bottom;
}

.loingpageformphoto{
  display: flex;
    align-items: center;
}

.userviewfooter{
  background-color: #f18973;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
